.accordion__element {
  position: relative;
  padding: 34px 0 33px;
  border-top: 1px solid rgba(28, 51, 116, 0.2);

  @include vp-1199 {
    padding: 34px 0 33px;
  }

  @include vp-767 {
    padding: 21px 0 19px;
  }
}

.accordion__element--first {
  padding: 34px 0 24px;

  @include vp-1199 {
    padding: 32px 0 24px;
  }

  @include vp-767 {
    padding: 21px 0 18px;
  }
}

.accordion__element--wrapper {
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  padding: 34px 0 32px;

  @include vp-1199 {
    padding: 25px 0 27px;
  }

  @include vp-767 {
    padding: 20px 0 21px;
  }
}

.accordion__element--wrapper .accordion__button {
  @include vp-1199 {
    top: 53px;
  }

  @include vp-767 {
    top: 41px;
  }
}

.accordion__element h4 {
  margin: 0;
  color: $color-Sapphire;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 0 40px 0 0;
  font-size: 23px;
  line-height: 24px;
  font-weight: 500;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    font-size: 24px;
    letter-spacing: 0.1px;
    padding: 0 90px 0 0;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 21.6px;
    padding-right: 50px;
    letter-spacing: inherit;
  }
}

.accordion__element--wrapper h4 {
  @include vp-1199 {
    line-height: 113%;
  }
}

.accordion__button {
  position: absolute;
  content: "";
  top: 46px;
  right: 0;
  width: 42px;
  height: 42px;
  background: url("../img/sprite/accordion-open.svg") no-repeat;
  background-size: cover;
  transform: translate(0, -50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-transform: none;

  @include vp-1199 {
    top: 46px;
  }

  @include vp-767 {
    top: 52px;
    width: 32px;
    height: 32px;
    background-size: cover;
    padding: 0;
  }

  @include hover-focus {
    background: url("../img/sprite/accordion-hover.svg") no-repeat;
    outline: none;

    @include vp-767 {
      top: 52px;
      width: 32px;
      height: 32px;
      background-size: cover;
    }
  }

  &:disabled {
    background: url("../img/sprite/accordion-disabled.svg") no-repeat;
    pointer-events: none;
  }
}

.accordion__element.is-active .accordion__button {
  top: 46px;
  background: url("../img/sprite/accordion-close.svg") no-repeat;

  @include vp-1199 {
    top: 46px;
  }

  @include vp-767 {
    top: 52px;
    width: 32px;
    height: 32px;
    background-size: cover;
    padding: 0;
  }
}

.accordion__element--wrapper.is-active .accordion__button {
  @include vp-1199 {
    top: 53px;
  }

  @include vp-767 {
    top: 41px;
  }
}

.accordion__text {
  padding-right: 176px;

  @include vp-1199 {
    padding-right: 130px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.accordion__button--tab3 {
  @include vp-767 {
    top: 41px;
  }
}

.accordion__element.is-active .accordion__button--tab3 {
  @include vp-767 {
    top: 41px;
  }
}

.accordion__text p {
  color: $color-Sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;
  margin-top: 18px;

  @include vp-1199 {
    margin-top: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    margin-top: 13px;
  }
}
