.form input::placeholder {
  color: $color-default-white;
}

.form__button {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  border: 3px solid $color-default-white;
  letter-spacing: 0.7px;
  padding: 18px;
  margin-top: 28px;

  @include vp-767 {
    margin-top: 38px;
  }

  @include hover-focus {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
    outline: none;
  }
}

.form__name.is-invalid input,
.form__phone.is-invalid input {
  border-bottom: 1px solid $color-dark-red;
}

.form__name.is-invalid .input-message.is-invalid,
.form__phone .input-message.is-invalid {
  color: $color-dark-red;
}
