.form-wrapper {
  padding: 56px 170px 65px 102px;
  background-color: $color-Sapphire;
  color: $color-default-white;

  @include vp-1199 {
    padding: 52px 163px 68px 132px;
  }

  @include vp-767 {
    width: 100%;
    padding: 57px 15px 68px;
  }
}

.form-wrapper h2 {
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 17px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.1px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.5px;
    margin-bottom: 29px;
  }
}

.form-wrapper ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;

  @include vp-1199 {
    gap: 61px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
}

.form-wrapper input {
  width: 100%;
  display: block;
  padding: 4px 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: text;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $light-slategrey;

  @include hover {
    border-color: $color-default-white;
  }

  @include focus {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
    border: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
